@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, html{
    width: 100%;
    height: 100%;
    font-family: Poppins;
    color: rgb(34, 34, 34);
}

.padding {
    padding-bottom: 2em;
}

.padding img {
    width: 80px;
}

.rc {
    background-color: blueviolet;
}

.li{
    color: blueviolet;
}